.form {
    @include flex($direction: column, $gap: 10px);

    max-width: 500px;
    width: 100%;

    &--inline {
        max-width: unset;
    }

    &--center {
        @include center;
    }

    &__set {
        @include flex($gap: 10px);

        border: none;
        margin: 0;
        padding: 0;

        & > * {
            flex-grow: 1;
        }
    }

    &__field {
        @include flex($direction: column, $gap: 10px);

    }

    &__input {
        background: $color-white-dark;
        border-radius: 8px;
        border: 1px solid transparent;
        box-sizing: border-box;
        height: 50px;
        font-size: 1rem;
        padding-left: .875rem;
        transition: border-color .125s linear;
        -webkit-appearance: none;
        width: 100%;

        &:focus {
            outline: none;
            border-color: $color-primary;
        }
    }

    &__file {
        @extend .form__button;

        input[type="file"] {
            display: none;
        }
    }

    &__textarea {
        @extend .form__input;

        height: 125px;
        padding: .875rem;
    }

    &__error {
        color: $color-error;
        font-size: .75rem;
        margin: -.5rem 0 1rem .5rem;

        span {
            display: block;
        }
    }

    &__button {
        @extend .button;

        &--green {
            background: $color-green;

            &:hover, &:focus {
                background: shade($color-green, 5%);
            }
        }

        &--red{
            background: $color-red;

            &:hover, &:focus {
                background: shade($color-red, 5%);
            }
        }
    }

    &__submit {
        @extend .button;

        width: 100%;
        -webkit-appearance: none;

        &--green {
            background: $color-green;
        }
    }

    &__checkbox {
        cursor: pointer;
        display: block;
        padding-left: calc(20px + .5rem);
        position: relative;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;

        &.form__checkbox--disabled {
            cursor: default;
        }

        &:hover input:not(:disabled) ~ .form__checkbox__check {
            border-color: shade(#C4C4C4, 10%);
        }

        .form__checkbox__check {
            border: 2px solid #C4C4C4;
            border-radius: 4px;
            box-sizing: border-box;
            height: 20px;
            left: 0;
            position: absolute;
            top: 0;
            width: 20px;

            &::after {
                border: solid $color-white;
                border-width: 0 2px 2px 0;
                content: "";
                display: none;
                height: 8px;
                left: 7px;
                position: absolute;
                top: 4px;
                transform: rotate(45deg);
                width: 4px;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
            }
        }

        input {
            cursor: pointer;
            height: 0;
            position: absolute;
            opacity: 0;
            width: 0;

            &:disabled:checked ~ .form__checkbox__check {
                background-color: shade($color-primary, 25%);
            }

            &:checked ~ .form__checkbox__check {
                background-color: $color-primary;
                border: none;
            }

            &:checked:hover:not(:disabled) ~ .form__checkbox__check {
                background-color: shade($color-primary, 10%);
            }

            &:checked ~ .form__checkbox__check::after {
                display: block;
            }
        }
    }

    @include media(325px, $less-than: true) {
        &__set  {
            flex-direction: column;
        }
    }
}
