.form {
    @include flex($direction: column, $gap: 10px);

    max-width: 750px;
    width: 100%;

    &__input {
        background: $color-white-dark;
        border-radius: 8px;
        border: none;
        height: 50px;
        font-size: 1rem;
        padding-left: 1rem;
        width: 100%;
    }

    &__error {
        color: $color-error;
        font-size: .75rem;
        margin: -.5rem 0 1rem .5rem;

        span {
            display: block;
        }
    }

    &__submit {
        @extend .button;

        width: 100%;
        -webkit-appearance: none;
    }
}
