/// Colors

$color-primary: #FFC700;
$color-white: #FFF;
$color-white-dark: #F1F1F5;
$color-black: #000;
$color-grey: #444;
$color-grey-light: #999;
$color-green: #43DD5C;
$color-red: #DD4343;


//$color-primary: #FFAE42;
//$color-white: #444;
//$color-white-dark: #666;
//$color-black: #fff;
//$color-grey: #fff;
//$color-grey-light: #999;
//$color-green: #43DD5C;
//$color-red: #DD4343;

$color-success: $color-green;
$color-error: $color-red;

/// Fonts

$font-title: "Lobster Two", cursive;
$font-primary: "Work Sans", sans-serif;
