/// Colors

$color-primary: #FFC700;
$color-white: #FFF;
$color-white-dark: #F1F1F5;
$color-black: #000;
$color-grey: #444;
$color-green: #43DD5C;
$color-red: #DD4343;


$color-success: $color-green;
$color-error: $color-red;


/// Fonts

$font-title: "Lobster Two", cursive;
$font-primary: "Work Sans", sans-serif;
